.book {
  background: white;
  box-shadow: $shadow2;
  display: inline-block;
  padding: .625em;
  position: relative;

  &--title {
    font-size: em(32px);
    font-family: 'Bree Serif', serif;
    line-height: 1em;
    background: $color2;
    margin: 0 0 em(5);
    padding: em(5);
    box-shadow: $shadow1;
    color: white;
    text-transform: capitalize;

    a {
      color: white;
      text-decoration: none;
    }
  }

  &--cover {
    box-shadow: $shadow3;
  }

  &--details {
    float: right;
    margin: 0 0 0 .625rem;
    max-width: 300px;
    position: relative;
    padding-bottom: em(41px);
  }

  &--author-info {

    li {
      display: flex;

      & + li {
        margin-top: .625rem;
      }
    }

    h4 {
      line-height: 2.188rem;
    }

    a {
      color: $color5;
      text-decoration: none;
    }
  }

  &--info {
    margin: 10px 0 0 10px;

    dt {
      float: left;
      clear: left;
      font-weight: bold;
      margin-right: em(5px);
    }
  }

  &--tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
    margin-top: 10px;
    font-size: em(12px);

    li {
      background: $color2;
      color: white;
      position: relative;
      border-radius: 0 5% 5% 0;
      margin: 0 em(20px) em(10px) 0;
      padding: em(5px) em(10px) em(6px);
      line-height: em(20px);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -7px;
        border-top: em(16px) solid transparent;
        border-right: em(10px) solid $color2;
        border-bottom: em(15px) solid transparent;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &--links {
    margin-left: 10px;

    a {
      color: $color1;
      font-size: em(12px);

      & + a:before {
        content: ', ';
      }
    }
  }

  button + button {
     margin-left: em(10px);
  }

  &--controls {
    position: absolute;
    bottom: em(10px);
    right: em(10px);

    svg {
      width: 25px;
      height: 25px;
      fill: $color1;
    }
  }
}

.author-cropper {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
